{% extends 'index.html.twig' %}
{% block body %}
<div>
<div class="bs-callout bs-callout-info">Domeinen met toetsen</div>
{% for domein in domeinen  %}
<div class="accordion">
	<h3>{{ domein.naam }}</h3>
	<div>
	{% for course in courses %}
		{% for toets in domein.toetsen %}
			{% if toets.course is not empty and toets.course.id == course.id %}
			<ul>
				<li>{% if toets.soort.naam is defined %}{{toets.soort.naam}}: {% endif %}{{toets.naam}} (Jaar {{course.jaar}} periode {{course.periode}})</li>
					<ul>
						{% for leerdoel in toets.leerdoelen %}
							<li><strong>
								{% if leerdoel.context is not empty %}
									<span class="red">({{leerdoel.bloomniveau * leerdoel.context.niveau}})</span> Bloom {{leerdoel.bloomniveau}} / HBO-I niveau {{leerdoel.context.niveau}}
								{% endif %}
							</strong>
							{{leerdoel.beschrijving}}
							</li>
						{% endfor %}
					</ul>
				</ul>

			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
</div>
{% endfor %}
</div>
{% endblock %}
