{% extends 'index.html.twig' %}
{% block body %}
<div>
{% for medewerker in medewerkers|sort %}
<div class="pushup">
	<span>{{ medewerker.volledigeNaam }}</span>
	<ul>
		{% for toets in medewerker.toetsen  %}
			<li>{{toets.naam}} ({{toets.course.naam|default('niet aan course gekoppeld')}}) <a href="{{path('view_toets_modulewijzer', {'toetsid': toets.id})}}">Download modulehandleiding</a> <a href="{{path('view_toets_toetsoverzicht', {'toetsid': toets.id})}}">Download toetsoverzicht</a> <a href="{{path('view_toets_toetsmatrijs', {'toetsid': toets.id})}}">Download toetsmatrijs</a></li>
		{% endfor %}
	</ul>
</div>
{% endfor %}
</div>
{% endblock %}
